
.o_datepicker {
    position: relative;

    .previous, .next {
        border-radius: 50% !important;;
    }
  
    .o_datepicker_input {
        padding-right: 15px;
        width: 100%;
        cursor: pointer;
    }
  
    .o_datepicker_button {
        position: absolute;
        line-height: 34px;

        top: 0px !important;
        bottom: 0px !important;
        left: auto !important;
        bottom: auto !important;
        right: 8px !important;

        color: #c0c4cc;
        font-size: 14px;
        cursor: pointer;

        pointer-events: none;

        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;

        &:after {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: "\f107" !important;
            border: none !important;
            width: auto !important;
            height: auto !important;
        }
  
        &.awesome_reverse {
          -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
      }
    }
  
    .o_datepicker_warning {
        top: 0;
        right: 20px;
    }
  
    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
    }
  }
  
  .bootstrap-datetimepicker-widget {
    width: auto !important;
  
    .datepicker {

      padding: 20px 22px;
      border-radius: .625rem;
      direction: ltr;
  
      .datepicker-switch {
        width: 145px;
      }
  
      &.dropdown-menu {
        z-index: 1000;
        border-radius: 50px;
        min-width: 10rem;
        padding: .5rem 0;
        margin: 0 0 0;
        font-size: 1rem;
        color: #5a6169;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.05);
        border-radius: .375rem;
        box-shadow: 0px 0.5rem 4rem rgba(0,0,0,0.11), 0px 10px 20px rgba(0,0,0,0.05), 0px 2px 3px rgba(0,0,0,0.06);
      }
    }
    
    .datepicker-dropdown {
        top: 0;
        left: 0;
        padding: 20px 22px;
    }
  
    .datepicker {
    
      .datepicker-switch:hover, .datepicker .next:hover, .prev:hover, tfoot tr th:hover {
        background: #e9ecef;
        color: #5a6169 !important;
      }
  
      .table-sm > thead > tr:first-child th:hover {
        background: #e9ecef;
        color: #5a6169;
     }
  
      table {
        margin: 0;
  
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
  
        border-collapse: collapse;
        
        > thead {
          color: #5a6169;
          background-color: transparent;
  
          > tr th:hover {
            color: #5a6169 !important;
          }
        }
  
        tr {
          th {
            text-align: inherit;
            border-radius: .375rem;
            font-weight: bold;
          }
  
          td {
            border-radius: 50%;
            span {
                display: block;
                width: 23%;
                height: 54px;
                line-height: 54px;
                float: left;
                margin: 1%;
                cursor: pointer;
                .active {
                  background-color: #007bff !important;
              }
            }
  
            &.today {
              background: #007bff;
           }
  
            &.day {
              width: 36px;
            }
  
            &.active, .active {
              background-color: #007bff;
            }
          }
  
          td, th {
            transition: all 250ms cubic-bezier(.27,.01,.38,1.06);
            height: 36px;
            border: none;
            text-align: center;
            vertical-align: middle;
          }
        }
      }
    }
  
    .datepicker .datepicker-switch, .datepicker .next, .datepicker .prev, .datepicker tfoot tr th {
      cursor: pointer;
    }
  
    .datepicker table tr td span.new, .datepicker table tr td span.old {
      color: #96868d;
    }
  
    .datepicker table tr td span.focused, .datepicker table tr td span:hover {
      color: inherit i !important;
      background: #e9ecef !important;
    }
  
    .datepicker .table-sm > thead > tr:last-child {
      color: #8f8f8f;
      background-color: transparent !important;
    }
  
    .datepicker .cw {
      font-size: 10px;
      width: 12px;
      padding: 0 2px 0 5px;
      vertical-align: middle;
    }
  
    .datepicker table tr td.new, .datepicker table tr td.old {
      color: #c3c7cc;
    }
  
    .datepicker table tr td.today {
      background: #e6f2ff;
    }
  
    .datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover {
      background: #e9ecef;
    }
  }
  
  .bootstrap-datetimepicker-widget{
  
    &.dropdown-menu {
        width: auto;
    }
  
    .datepicker .table-sm > thead {
      background: transparent;
    }
  
    table {
        td.today:before {
            display: none
        }
  
        thead {
            tr:first-child {
                th:hover {
                    background: transparent;
                }
            }
        }
    }
  }

.datepicker .table-sm > thead > tr:first-child th:hover {
    background: transparent !important;
}

.bootstrap-datetimepicker-widget .datepicker table thead tr:nth-child(2) th,
.bootstrap-datetimepicker-widget .datepicker table td.cw {
    background-color: transparent !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
    content: '';
    width: 13px;
    height: 13px;
    background: #ffffff;
    position: absolute;
    top: -7px;
    left: 12px;
    transform: rotate(45deg);
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: none !important;
    border-bottom: none !important;
}
