.o_base_settings {

    .o_web_settings_invite {
        width: 100px;
    }
    
    .o_control_panel {
        .o_panel {
            .o_setting_search {
                .searchInput {
                    border-bottom: 1px solid #ced4da !important;
                }
            }
        }
    }

    .awesome_setting_toggler {
        display: none;
        position: absolute;
        width: 16px;
        border-left: none;
        margin-right: -15px;
        right: 0px;
        top: calc(50% - 8px);
        height: 50px;
        background: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: white;
    } 

    @include media-breakpoint-down(xs) {
        .settings_tab {
            position: absolute;
            z-index: 2;
            bottom: 0px;
            top: 0px;
            width: 140px;
            margin-left: -140px;
            overflow: visible !important;

            &.show {
                margin-left: 0px;
            }

            .awesome_setting_toggler {
                @include awesome-align-items-center;
                @include awesome-justify-content-center;
                @include awesome-flex;
            }
        }

        .app_settings_block {
            overflow: hidden;
        }
    }
}
