
.o_DiscussMobileMailboxSelection {
    padding: 10px;
    button {
        margin: 5px;
    }

    .o_Discuss {
        padding-top: 10px;
    }
}

.o_ThreadViewTopbar {
    height: 59px;
}

.o_DiscussSidebarMailbox {
    padding: 0.75rem 0;
}

.o_DiscussSidebarCategory_titleIcon {
    font-size: 0.5em;
    margin: 0px 5px;
}