/*--- SELECT2 ---*/

.select2-container {
    min-width: 120px;
}

.select2-results__option {
    border-radius: 0;
    margin-bottom: 1px;
    font-size: 13px;
}

.select2-container .select2-choice {
    width: 100%;
    background-color: #fff;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    height: 34px;
    outline: none;
    margin-bottom: 5px;
    background-image: none;
}

.select2-container .select2-choice .select2-arrow {

    width: 20px;
    height: 30px;

    position: absolute;
    right: 0px;
    line-height: calc(1.5em + 0.75rem + 2px);
    top: 0px;
    bottom: 0px;
    background: none !important;
    background-image: none !important;
    border: none !important;

    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.select2-container .select2-choice .select2-arrow b {
    position: absolute;

    width: 6px;
    height: 6px;

    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #c2c3c4;

    -webkit-transform: rotate(-135deg) ;
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);

    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
}

.select2-container.select2-dropdown-open {
    z-index: 1124;

    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.select2-container.select2-dropdown-open .select2-choice .select2-arrow b {
   
    border-width: 1px 0 0 1px;
    border-color: #c2c3c4;
    margin-top: 0px;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.select2-container .select2-selection--multiple {
    background-color: #fff;
    border-color: #e9edf4;
    border-radius: 0;
    min-height: 34px;
    outline: none;
}

.select2-container .select2-search .select2-input {
    border-color: #e9edf4;
    border-radius: 0;
}

.select2-container .select2-results__option[aria-selected="true"] {
    background-color: #ddd;
    color: #22252f;
}

.select2-container .select2-results>.select2-results__options {
    margin: 4px;
}

.select2-container .select2-search--inline .select2-input {
    margin-top: 7px;
    line-height: 34px;
    padding-left: 7px;
    opacity: 1;
}

.select2-container.select2-container--disabled .select2-selection__choice {
    padding-left: 10px;
    background-color: #737688;
}

.select2-container.select2-container--disabled .select2-selection__choice .select2-selection__choice__remove {
    display: none;
}

.select2-dropdown-open .select2-choice,
.select2-dropdown-open .select2-selection--multiple {
    z-index: 1100;
    background-color: #fff;
    border-color: #e9edf4;
}

.select2-dropdown-open .select2-dropdown--above {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-dropdown-open .select2-dropdown--below {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    top: -5px;
}

.select2-dropdown {
    border-color: #e9edf4;
    z-index: 1000;
}

.select2-search {
    padding-bottom: 0;
}

.select2-container.o_field_widget  {
    .select2-search {
        display: none;
    }
}

.select2-results__option {
    padding: 6px 10px;
    font-size: 0.875rem;
    min-height: 30px;
}

.select2-xs+.select2-container {
    font-size: 12px;
}

.select2-dropdown-xs .select2-results__option {
    font-size: 12px;
}

.select2-sm+.select2-container {
    font-size: 14px;
}

.select2-dropdown-sm .select2-results__option {
    font-size: 14px;
}

.select2-bd-0+.select2-container .select2-choice {
    border-width: 0;
}

.select2-container .select2-search .select2-input {
    outline: none;
}

.select2-container .select2-choice > .select2-chosen {
    line-height: 30px;
}

.select2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9999;
    top: 100%;

    min-width: 10rem;
    padding: .5rem 0;
    margin: 0 0 0;
    font-size: 1rem;
    color: #5a6169;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: .375rem;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*--- SELECT2 ---*/