
/* kanban */
.o_kanban_view {
    .o_kanban_record:focus, .o_kanban_record:focus-within, .o_kanban_quick_create:focus, .o_kanban_quick_create:focus-within {
        -webkit-box-shadow: 1px 1px 1px 0px #6c757d;
        -moz-box-shadow: 1px 1px 1px 0px #6c757d;
        box-shadow: 1px 1px 1px 0px #6c757d;
        z-index: 1;
        outline: none;
    }
}

.o_kanban_view {
    padding: 5px !important;
    .o_kanban_record {
        background: #fff;
        position: relative;
        display: inline-block;
        border: 1px #d9d9d9 solid;
        margin: 0 15px 15px 0;
        min-width: 150px;
        margin: 0 0 -1px;

        @include awesome-trainsition-all(.2s);

        &:hover {
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            transform: translate3d(0px, 0px, -2px);
        }
    }
}

.o_kanban_view {
    .oe_kanban_card, .o_kanban_record {
        .o_dropdown_kanban .dropdown-toggle {
            border-radius: 0px;
        }
    }

    .o_kanban_record:focus, 
    .o_kanban_record:focus-within, 
    .o_kanban_quick_create:focus, 
    .o_kanban_quick_create:focus-within {
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .oe_kanban_card.oe_kanban_global_click:focus, 
    .oe_kanban_card.oe_kanban_global_click:focus-within, 
    .oe_kanban_card.oe_kanban_global_click_edit:focus, 
    .oe_kanban_card.oe_kanban_global_click_edit:focus-within, 
    .o_kanban_record.oe_kanban_global_click:focus, 
    .o_kanban_record.oe_kanban_global_click:focus-within, 
    .o_kanban_record.oe_kanban_global_click_edit:focus, 
    .o_kanban_record.oe_kanban_global_click_edit:focus-within {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

