
.o_list_selection_box {
    margin-right: 5px;
}

.o_filter_condition {
    select {
        margin-top: 5px;
    }
}

.o_add_condition {
    i {
        margin-right: 5px;
    }
}

.o_favorite_menu {
    .custom-checkbox {
        margin-top: 5px;
    }
}